html,body{
    margin:0;
    padding:0;
    font-family:roboto;
}
.ribbonright{
    width:100px; 
    height:0; 
    border-top:45px solid #118a7e;
    border-bottom:45px solid  #118a7e;
    border-left:30px solid transparent;
    float:right;
    
}
.space{
   
    width: 200vh;
    height:90px;
}
.heading{
    font-size:24px;
    text-align: center;
    background-color:  #118a7e;
    width:300px;
    height:40px;
    margin:0 auto;
    border-radius: 7px;
    padding-top:7px;
    color: white;
    font-weight:medium;
}
.description {
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    width: 640px; 
    padding:15px;
    
}
.separator {
    border-top: 4px dashed  #118a7e;
    width: 400px;
    margin: 0 auto ;
}
h4{
    text-align: center;
    font-size: 20px;
}
h3{
    text-align: center;
    font-weight: normal;
}
.team{
    font-size:20px;
    text-align: center;
    background-color:  #118a7e;
    width:290px;
    height:30px;
    margin:0 auto;
    border-radius: 7px;
    padding:7px 0;
    color: white;
    font-weight:medium;
}
.top,
.bottom{
    display: flex;
  
    justify-content: center;
    margin-top: 30px;

    
}


.team-member {
    text-align: center;
    margin:0 40px;
}

.team-member img {
    width: 150px;
    border-radius: 50%;
    padding:20px;
    
}
#text{
    color: #118a7e;
    font-style: italic;
    font-weight: 600;

}
.desc{
    
    line-height: 0.3;
}
.ribbonleft{
    width:100px; 
    height:0; 
    border-top:45px solid #118a7e;
    border-bottom:45px solid  #118a7e;
    border-right:30px solid transparent;
    float:left;
}
.team-d,.team-s{
    font-size:20px;
    text-align: center;
    background-color:  #118a7e;
    width:290px;
    height:30px;
    margin: 0 auto;
    border-radius: 7px;
    padding:7px 0;
    color: white;
    font-weight:medium;
    margin-top: 40px;
}

@media screen and (max-width: 730px) {
    
    .top,
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    width: 80vw;
    margin: 20px auto;
    
    line-height: 30px;
}
.heading,.team-d{
    width:200px;
    font-size: 18px;
}
.team,.team-s{
    width:200px;
    font-size: 18px;
    padding:20px;
}
.ribbonright{
    width:60px; 
    height:0; 
    border-top:45px solid #118a7e;
    border-bottom:45px solid  #118a7e;
    border-left:30px solid transparent;
    float:right;
    
}
.ribbonleft{
    width:60px; 
    height:0; 
    border-top:45px solid #118a7e;
    border-bottom:45px solid  #118a7e;
    border-right:30px solid transparent;
    float:left;
}
.team-s{
    margin-top: 10px;
}


}